<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Visualização de Hash Extensível</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Tabela Hash Extensível</h1>
  <div id="controles">
    <input type="number" id="chaveInput" placeholder="Chave (int)">
    <input type="text" id="valorInput" placeholder="Valor">
    <button onclick="inserir()">Inserir</button>
  </div>
  <div id="estrutura"></div>

  <script src="hash.js"></script>
</body>
</html>
